.submit-button {
  margin-top: 40px;
}
.delete-button {
  // margin-top: 20px;
}
.container {
  padding: 50;
}
.place-text {
  text-align: center;
  padding: 0 20px;
}
.place-container {
  img {
    display: block;
    margin: 0 auto;
  }
}
.time-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  div {
    flex: 1;
    flex-direction: row;
    display: flex;
    p {
      flex: 1;
    }
    img {
      margin: auto;
      //7+8+30 = 45 (width of others)
      margin-left: 12px; //5+7
      margin-right: 13px; //5+8
      display: block;
      height: 30px;
      width: 30px;
    }
  }
}
.money-container {
  display: flex;
  flex-direction: row;
  p {
    font-size: 20;
  }
  img {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto 5px;
  }
}
.phone-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  p {
    font-size: 50;
  }
  img {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto 5px;
  }
}

.note-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  p {
    font-size: 30;
  }
  img {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto 5px;
  }
}
.contact-container {
  display: flex;
  flex-direction: row;
  background-color: #6885aa;
  button {
    flex: 1;
    img {
      display: block;
      margin: auto;
      width: 60px;
      height: 60px;
      padding: 10px;
      flex: 1;
    }
  }
  .phone {
    background-color: #eb670f;
  }
  .message {
    background-color: #7dabe7;
  }
}
